table{
  width: 80%;
  border-collapse: collapse;
  margin: auto;

}

th,td{
  border: 2px solid black;
 text-align: center;
}
th{
  background-color: rgb(120, 94, 145);
}
td{
  background-color: rgb(241, 175, 239);
  padding: 10px;
}